#admin-background{
  background-image: url("./app/img/admin-background.jpg");
  width: 100%;
  height: 100vh;
}
.form-div{
  width: 25%;
  margin: 50px auto;
  background-color: #97d7d9;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.form-div button{

  margin: 5px 39%;
  position: relative;
}
.relleno{
  height: 50px;
  margin: 0px 47%;
}
#login-form{
margin: 5px;
}
.error{
  color: red;
  padding:3px;
  font-weight: bold;
}