<div class="viajes-main">
<div class="first-section">
  <carrusel class="first-section-carrusel"></carrusel>
    <div class="responsive-text">En nuestra agencia encontrarás el asesoramiento y la experiencia de muchos años para hacer de sus vacaciones unas vacaciones inolvidables</div>
</div>
<div class="viajes-video">
    <video id="video" preload="none" loop style="width:100%" autoplay muted="true">
      <source src="./app/video/beach.mp4" type="video/mp4" class="video-source">
</video>
  <div class="video-text-container"></div>
  <div class="video-text">
    <p>En nuestra agencia encontrarás el asesoramiento y la experiencia de muchos años para hacer de sus vacaciones unas vacaciones inolvidables</p>
  </div>
</div>
<div class="second-section">
 
    <div class="animation-img"><img src="./app/img/plane.png"/></div>
    <div class="quienes-somos">KZM Travel</div>
</div>
<div id="viajes-footer">
<footer ></footer>
</div>



