<div class="foot">
  <div class="foot-elements">
    <div class = "enlaces" id="enlaces">
      <p><a  target="_blank" href="https://www.facebook.com/KZMtravel/" ><img src="./app/img/facebook.png" alt="facebook logo"></a></p>
      <p><a  target="_blank" href="https://twitter.com/kzmviajes"><img src="./app/img/twitter.png" alt="twitter logo"></a></p>
    </div>
    <div class="mas-datos" id="mas-datos">
        <div class="row main">
  Contacto
        </div>
        <div class="contenido">
          <div class="row header">
    Correo
          </div>
          <p class="content">
    zmkaty@gmail.com
          </p>
          <div class="row header">
    Direccion
          </div>
            <p class="content">
      C/ La Cruz,36
            </p>
            <p class="content">
      Torremolinos-Málaga, Spain
            </p>
          <div class="row header">
    Telefono
          </div>
          <p class="content">
      +34 951 35 08 19
            </p>
        </div>
    </div>
    <div class="map" id="map">
        <iframe  width="100%" height="99%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDt3WRKn4mNEcU0jTAGSwAuuEtp16SscYo&q=Kzm+Travel,+Calle+Río+Aranda,+Torremolinos,+España"></iframe>
    </div>
  </div>
</div>
